
.container {
  display: block;
  position: absolute;
  margin: auto;
  height: 450px;
  width: 400px;
  bottom: 0; left:0; right: 0; top:0;
  padding: 0;
}

/* basic stylings ------------------------------------------ */

#login-text {
  text-align:center;
  margin-bottom:30px;
  padding: 20px 20px;
  color: #484848;
  font-weight: normal;
}

#errorMessage {
  display: none;
  padding: 0px 20px;
  margin-bottom: 30px;
  font-family: $montserrat;
  font-size: 18px;
  font-weight: 400px;
  color: red;
  line-height: 1.5px;
  text-align: center;
}

/* form starting stylings ------------------------------- */
#login-form {
  padding: 20px 45px;
}

.group 	{
  position:relative;
  margin-bottom:45px;
}

.login-input {
  font-family: 'Montserrat', sans-serif;
  font-size:18px;
  color: #484848;
  padding: 15px 0px;
  display:block;
  width:300px;
  border:none;
  border-bottom:2px solid #585858;

  &:focus {
    outline:none;
  }
}

#submit-div {
  margin: 0 auto;
  margin-top:30px;
  width: 60%;

  #submit {
    display: block;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFF;
    background: #383838;
    border-radius: 10px;
    text-align: center;
    cursor:pointer;
  }
}


/* LABEL ======================================= */
.login-label 				 {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
.login-input:focus ~ .login-label, .login-input:valid ~ .login-label 		{
  top:-20px;
  font-size:14px;
  color:#282828;
}

/* BOTTOM BARS ================================= */
.bar {
  position:relative;
  display:block;
  width:300px;

  &:before, &:after {
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background:#585858;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
  }

  &:before {
    left:50%;
  }

  &:after {
    right:50%;
  }
}

/* active state */
.login-input:focus ~ .bar:before, .login-input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.login-input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
